# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# SQLite database
*.db

# Docker
*.tar
*.container
*.log

# VS Code / IDE
.vscode/
.idea/
*.swp

# Node modules (if accidentally pulled)
node_modules/

backend/vmCloud_data.csv
